*{
  margin:0;
  padding:0;
}

body{
  font-family: Georgia, serif; 
  font-size: 20px;
  color: #079907;
  background-color: #FFFEDE;
}

a{
    text-decoration: none;
}
a p{
    text-align: center;
    color: #079907
}
header{
background-color: #F5F5D5;
color: #070707;
}

nav{
    background-color: #079907;
    color: #F5F5D5;
    align-items: center;
    text-align: center;
    line-height: 2em;
    display: inline-block;
    width: 80%;
 
}
header img {
    width: 10%;
    position: relative;
    top: 10px;
    height: 10%;
    border-radius: 50%;
}

a{
    color: #F5F5D5;
}
main{
    background-color: #F5F5D5;
    color: #079907;
}

footer{
    color: #F5F5D5;
    background-color: #079907;
}

footer a{
    color: #ffffff;
}
/*
 li{
   }
*/

 h1{
     text-align: center;
 }

 p{
     line-height: 2em;
 }

 .container{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
  column-gap: 1em;
 }

 .container img{
    height: 30%;

    width:100%;

 }
