*{
  margin:0;
  padding:0;
}

body{
  font-family: Georgia, serif; 
  font-size: 20px;
  background-color: blue;
  background-color: #74992e;
}

header{
background: linear-gradient(#e66465, #9198e5);
}
